@charset "UTF-8";

body{
	background-color: rgb(255, 255, 255);
}

.logo{
	width: 30%;
	height:auto;
}

.meupadding{
	padding-top: 1%;
	text-align: center;
	
}
.sombra{
	box-shadow: 0px 2px 2px #c8c4c4; 
}



